absl-py==2.1.0
aiohappyeyeballs==2.4.0
aiohttp==3.10.5
aiosignal==1.3.1
anyio==4.4.0
arxiv==2.1.3
attrs==24.2.0
blinker==1.8.2
certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
datasets==2.21.0
dill==0.3.8
feedparser==6.0.11
filelock==3.16.0
Flask==3.0.3
Flask-Cors==5.0.0
frozenlist==1.4.1
fsspec==2024.6.1
grpcio==1.66.1
h11==0.14.0
httpcore==1.0.5
httpx==0.27.2
huggingface-hub==0.24.6
idna==3.8
itsdangerous==2.2.0
Jinja2==3.1.4
Markdown==3.7
MarkupSafe==2.1.5
multidict==6.1.0
multiprocess==0.70.16
numpy==2.1.1
ollama==0.3.3
packaging==24.1
pandas==2.2.2
protobuf==5.28.0
pyarrow==17.0.0
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.2
requests==2.32.3
sgmllib3k==1.0.0
six==1.16.0
sniffio==1.3.1
tensorboard==2.17.1
tensorboard-data-server==0.7.2
tqdm==4.66.5
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
Werkzeug==3.0.4
xxhash==3.5.0
yarl==1.11.1
langchain == 0.2.16
langchain_community == 0.2.16
unstructured == 0.15.10
docx2txt == 0.8
python-pptx == 1.0.2
jq == 1.8.0
wikipedia == 1.4.0
arxiv == 2.1.3
datasets == 3.0.0
pymupdf == 1.24.10
huggingface_hub == 0.24.6
PyGithub == 2.4.0
pypandoc == 1.13 # needs to be added to path  and installed from here https://pandoc.org/installing.html "C:\Users\username\AppData\Local\Pandoc"
python-dotenv